{% load zone_tags %}
<div id="post-list" class="list-group my-3" data-url="{% url 'zone:posts' %}">
{#  <div id="post-delete-modal" class="modal fade" tabindex="-1">#}
{#    <div class="modal-dialog">#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <h5 class="modal-title">Delete Post</h5>#}
{#          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#          <p>Are you sure to delete the post?</p>#}
{#          <p class="opacity-50 text-nowrap" id="post-content-preview"></p>#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#          <button id="delete-post-btn" type="button" class="btn btn-danger">Delete</button>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
  {% for item in object_list %}
    <div data-post-id="{{ item.id }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <a class="rounded-circle flex-shrink-0 bg-info"
         style="width: 32px; height: 32px; color: white; text-decoration: none; text-align: center; line-height: 32px;">
        {{ item.user.username|slice:"1"|upper }}</a>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">{{ item.user.username }}</h6>
          <p class="mb-0 opacity-75">{{ item.content }}</p>
        </div>
        <small class="opacity-50 text-nowrap">{{ item.created_at|custom_datetime }}</small>
      </div>
      <small class="opacity-50 text-nowrap" style="cursor: pointer" data-delete-trigger
{#             data-bs-toggle="modal" data-bs-target="#post-delete-modal"#}
      >Delete</small>
    </div>

  {% endfor %}

  {% if is_paginated %}
    <nav aria-label="...">
      <ul class="pagination mt-3">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
               aria-disabled="true" data-page="{{ page_obj.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}
        {% for i in paginator|django_page_range:page_obj.number %}
          <li class="page-item {% if page_obj.number == i %}active{% endif %}" aria-current="page">
            <a class="page-link" href="?page={{ i }}" data-page="{{ i }}">{{ i }}</a>
          </li>
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"
               data-page="{{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>